* text=auto !eol
/README -text
releases/3.1.0/AUTHORS -text
releases/3.1.0/AUTHORS.txt -text
releases/3.1.0/INSTALL -text
releases/3.1.0/INSTALL.txt -text
releases/3.1.0/LICENSE.txt -text
releases/3.1.0/Makefile -text
releases/3.1.0/README -text
releases/3.1.0/README.txt -text
releases/3.1.0/VERSIONS -text
releases/3.1.0/VERSIONS.txt -text
releases/3.1.0/doc/Makefile -text
releases/3.1.0/doc/additionalNotes.pdf -text
releases/3.1.0/doc/doxygen.config -text
releases/3.1.0/doc/mainpage.dox -text
releases/3.1.0/doc/manual.pdf -text svneol=unset#unset
releases/3.1.0/examples/Makefile -text
releases/3.1.0/examples/example1.c -text
releases/3.1.0/examples/example1b.c -text
releases/3.1.0/examples/example3.c -text
releases/3.1.0/examples/exampleLP.c -text
releases/3.1.0/include/qpOASES_e.h -text
releases/3.1.0/include/qpOASES_e/Bounds.h -text
releases/3.1.0/include/qpOASES_e/Constants.h -text
releases/3.1.0/include/qpOASES_e/ConstraintProduct.h -text
releases/3.1.0/include/qpOASES_e/Constraints.h -text
releases/3.1.0/include/qpOASES_e/Flipper.h -text
releases/3.1.0/include/qpOASES_e/Indexlist.h -text
releases/3.1.0/include/qpOASES_e/Matrices.h -text
releases/3.1.0/include/qpOASES_e/MessageHandling.h -text
releases/3.1.0/include/qpOASES_e/Options.h -text
releases/3.1.0/include/qpOASES_e/QProblem.h -text
releases/3.1.0/include/qpOASES_e/QProblemB.h -text
releases/3.1.0/include/qpOASES_e/Types.h -text
releases/3.1.0/include/qpOASES_e/UnitTesting.h -text
releases/3.1.0/include/qpOASES_e/Utils.h -text
releases/3.1.0/include/qpOASES_e/extras/OQPinterface.h -text
releases/3.1.0/interfaces/matlab/example1.mat -text
releases/3.1.0/interfaces/matlab/example1a.mat -text
releases/3.1.0/interfaces/matlab/example1b.mat -text
releases/3.1.0/interfaces/matlab/make.m -text
releases/3.1.0/interfaces/matlab/qpOASES_e.c -text
releases/3.1.0/interfaces/matlab/qpOASES_e.m -text
releases/3.1.0/interfaces/matlab/qpOASES_e_auxInput.m -text
releases/3.1.0/interfaces/matlab/qpOASES_e_matlab_utils.c -text
releases/3.1.0/interfaces/matlab/qpOASES_e_matlab_utils.h -text
releases/3.1.0/interfaces/matlab/qpOASES_e_options.m -text
releases/3.1.0/interfaces/matlab/qpOASES_e_sequence.c -text
releases/3.1.0/interfaces/matlab/qpOASES_e_sequence.m -text
releases/3.1.0/interfaces/simulink/example_QProblem.mdl -text
releases/3.1.0/interfaces/simulink/example_QProblemB.mdl -text
releases/3.1.0/interfaces/simulink/load_example_QProblem.m -text
releases/3.1.0/interfaces/simulink/load_example_QProblemB.m -text
releases/3.1.0/interfaces/simulink/make.m -text
releases/3.1.0/interfaces/simulink/qpOASES_e_QProblem.c -text
releases/3.1.0/interfaces/simulink/qpOASES_e_QProblemB.c -text
releases/3.1.0/interfaces/simulink/qpOASES_e_simulink_utils.c -text
releases/3.1.0/make.mk -text
releases/3.1.0/make_cygwin.mk -text
releases/3.1.0/make_linux.mk -text
releases/3.1.0/make_osx.mk -text
releases/3.1.0/make_windows.mk -text
releases/3.1.0/src/Bounds.c -text
releases/3.1.0/src/Constraints.c -text
releases/3.1.0/src/Flipper.c -text
releases/3.1.0/src/Indexlist.c -text
releases/3.1.0/src/Makefile -text
releases/3.1.0/src/Matrices.c -text
releases/3.1.0/src/MessageHandling.c -text
releases/3.1.0/src/OQPinterface.c -text
releases/3.1.0/src/Options.c -text
releases/3.1.0/src/QProblem.c -text
releases/3.1.0/src/QProblemB.c -text
releases/3.1.0/src/Utils.c -text
releases/3.1.0/testing/c/Makefile -text
releases/3.1.0/testing/c/data/fetch_cpp_data -text
releases/3.1.0/testing/c/test_bench.c -text
releases/3.1.0/testing/c/test_matrices.c -text
releases/3.1.1/AUTHORS -text
releases/3.1.1/AUTHORS.txt -text
releases/3.1.1/INSTALL -text
releases/3.1.1/INSTALL.txt -text
releases/3.1.1/LICENSE.txt -text
releases/3.1.1/Makefile -text
releases/3.1.1/README -text
releases/3.1.1/README.txt -text
releases/3.1.1/VERSIONS -text
releases/3.1.1/VERSIONS.txt -text
releases/3.1.1/doc/Makefile -text
releases/3.1.1/doc/additionalNotes.pdf -text
releases/3.1.1/doc/doxygen.config -text
releases/3.1.1/doc/mainpage.dox -text
releases/3.1.1/doc/manual.pdf -text svneol=unset#unset
releases/3.1.1/examples/Makefile -text
releases/3.1.1/examples/example1.c -text
releases/3.1.1/examples/example1b.c -text
releases/3.1.1/examples/example3.c -text
releases/3.1.1/examples/exampleLP.c -text
releases/3.1.1/include/qpOASES_e.h -text
releases/3.1.1/include/qpOASES_e/Bounds.h -text
releases/3.1.1/include/qpOASES_e/Constants.h -text
releases/3.1.1/include/qpOASES_e/ConstraintProduct.h -text
releases/3.1.1/include/qpOASES_e/Constraints.h -text
releases/3.1.1/include/qpOASES_e/Flipper.h -text
releases/3.1.1/include/qpOASES_e/Indexlist.h -text
releases/3.1.1/include/qpOASES_e/Matrices.h -text
releases/3.1.1/include/qpOASES_e/MessageHandling.h -text
releases/3.1.1/include/qpOASES_e/Options.h -text
releases/3.1.1/include/qpOASES_e/QProblem.h -text
releases/3.1.1/include/qpOASES_e/QProblemB.h -text
releases/3.1.1/include/qpOASES_e/Types.h -text
releases/3.1.1/include/qpOASES_e/UnitTesting.h -text
releases/3.1.1/include/qpOASES_e/Utils.h -text
releases/3.1.1/include/qpOASES_e/extras/OQPinterface.h -text
releases/3.1.1/interfaces/matlab/example1.mat -text
releases/3.1.1/interfaces/matlab/example1a.mat -text
releases/3.1.1/interfaces/matlab/example1b.mat -text
releases/3.1.1/interfaces/matlab/make.m -text
releases/3.1.1/interfaces/matlab/qpOASES_e.c -text
releases/3.1.1/interfaces/matlab/qpOASES_e.m -text
releases/3.1.1/interfaces/matlab/qpOASES_e_auxInput.m -text
releases/3.1.1/interfaces/matlab/qpOASES_e_matlab_utils.c -text
releases/3.1.1/interfaces/matlab/qpOASES_e_matlab_utils.h -text
releases/3.1.1/interfaces/matlab/qpOASES_e_options.m -text
releases/3.1.1/interfaces/matlab/qpOASES_e_sequence.c -text
releases/3.1.1/interfaces/matlab/qpOASES_e_sequence.m -text
releases/3.1.1/interfaces/simulink/example_QProblem.mdl -text
releases/3.1.1/interfaces/simulink/example_QProblemB.mdl -text
releases/3.1.1/interfaces/simulink/load_example_QProblem.m -text
releases/3.1.1/interfaces/simulink/load_example_QProblemB.m -text
releases/3.1.1/interfaces/simulink/make.m -text
releases/3.1.1/interfaces/simulink/qpOASES_e_QProblem.c -text
releases/3.1.1/interfaces/simulink/qpOASES_e_QProblemB.c -text
releases/3.1.1/interfaces/simulink/qpOASES_e_simulink_utils.c -text
releases/3.1.1/make.mk -text
releases/3.1.1/make_cygwin.mk -text
releases/3.1.1/make_linux.mk -text
releases/3.1.1/make_osx.mk -text
releases/3.1.1/make_windows.mk -text
releases/3.1.1/src/Bounds.c -text
releases/3.1.1/src/Constraints.c -text
releases/3.1.1/src/Flipper.c -text
releases/3.1.1/src/Indexlist.c -text
releases/3.1.1/src/Makefile -text
releases/3.1.1/src/Matrices.c -text
releases/3.1.1/src/MessageHandling.c -text
releases/3.1.1/src/OQPinterface.c -text
releases/3.1.1/src/Options.c -text
releases/3.1.1/src/QProblem.c -text
releases/3.1.1/src/QProblemB.c -text
releases/3.1.1/src/Utils.c -text
releases/3.1.1/testing/c/Makefile -text
releases/3.1.1/testing/c/data/fetch_cpp_data -text
releases/3.1.1/testing/c/test_bench.c -text
releases/3.1.1/testing/c/test_matrices.c -text
releases/qpOASES_e-3.1.0.tar.gz -text
releases/qpOASES_e-3.1.0.zip -text
trunk/AUTHORS -text
trunk/AUTHORS.txt -text
trunk/INSTALL -text
trunk/INSTALL.txt -text
trunk/LICENSE.txt -text
trunk/Makefile -text
trunk/README -text
trunk/README.txt -text
trunk/VERSIONS -text
trunk/VERSIONS.txt -text
trunk/doc/Makefile -text
trunk/doc/additionalNotes.pdf -text
trunk/doc/doxygen.config -text
trunk/doc/mainpage.dox -text
trunk/doc/manual.pdf -text svneol=unset#unset
trunk/examples/Makefile -text
trunk/examples/example1.c -text
trunk/examples/example1b.c -text
trunk/examples/example3.c -text
trunk/examples/exampleLP.c -text
trunk/include/qpOASES_e.h -text
trunk/include/qpOASES_e/Bounds.h -text
trunk/include/qpOASES_e/Constants.h -text
trunk/include/qpOASES_e/ConstraintProduct.h -text
trunk/include/qpOASES_e/Constraints.h -text
trunk/include/qpOASES_e/Flipper.h -text
trunk/include/qpOASES_e/Indexlist.h -text
trunk/include/qpOASES_e/Matrices.h -text
trunk/include/qpOASES_e/MessageHandling.h -text
trunk/include/qpOASES_e/Options.h -text
trunk/include/qpOASES_e/QProblem.h -text
trunk/include/qpOASES_e/QProblemB.h -text
trunk/include/qpOASES_e/Types.h -text
trunk/include/qpOASES_e/UnitTesting.h -text
trunk/include/qpOASES_e/Utils.h -text
trunk/include/qpOASES_e/extras/OQPinterface.h -text
trunk/interfaces/matlab/example1.mat -text
trunk/interfaces/matlab/example1a.mat -text
trunk/interfaces/matlab/example1b.mat -text
trunk/interfaces/matlab/make.m -text
trunk/interfaces/matlab/qpOASES_e.c -text
trunk/interfaces/matlab/qpOASES_e.m -text
trunk/interfaces/matlab/qpOASES_e_auxInput.m -text
trunk/interfaces/matlab/qpOASES_e_matlab_utils.c -text
trunk/interfaces/matlab/qpOASES_e_matlab_utils.h -text
trunk/interfaces/matlab/qpOASES_e_options.m -text
trunk/interfaces/matlab/qpOASES_e_sequence.c -text
trunk/interfaces/matlab/qpOASES_e_sequence.m -text
trunk/interfaces/simulink/example_QProblem.mdl -text
trunk/interfaces/simulink/example_QProblemB.mdl -text
trunk/interfaces/simulink/load_example_QProblem.m -text
trunk/interfaces/simulink/load_example_QProblemB.m -text
trunk/interfaces/simulink/make.m -text
trunk/interfaces/simulink/qpOASES_e_QProblem.c -text
trunk/interfaces/simulink/qpOASES_e_QProblemB.c -text
trunk/interfaces/simulink/qpOASES_e_simulink_utils.c -text
trunk/make.mk -text
trunk/make_cygwin.mk -text
trunk/make_linux.mk -text
trunk/make_osx.mk -text
trunk/make_windows.mk -text
trunk/src/Bounds.c -text
trunk/src/Constraints.c -text
trunk/src/Flipper.c -text
trunk/src/Indexlist.c -text
trunk/src/Makefile -text
trunk/src/Matrices.c -text
trunk/src/MessageHandling.c -text
trunk/src/OQPinterface.c -text
trunk/src/Options.c -text
trunk/src/QProblem.c -text
trunk/src/QProblemB.c -text
trunk/src/Utils.c -text
trunk/testing/c/Makefile -text
trunk/testing/c/data/fetch_cpp_data -text
trunk/testing/c/test_bench.c -text
trunk/testing/c/test_matrices.c -text
