* text=auto !eol
.coin-or/projDesc.xml -text
/AUTHORS -text
/AUTHORS.txt -text
/CMakeLists.txt -text
/INSTALL -text
/INSTALL.txt -text
/LICENSE -text
/LICENSE.txt -text
/Makefile -text
/README -text
/README.txt -text
/VERSIONS -text
/VERSIONS.txt -text
doc/DoxygenLayout.xml -text
doc/Makefile -text
doc/doxygen.config -text
doc/mainpage.dox -text
doc/manual.pdf -text svneol=unset#unset
examples/Makefile -text
examples/example1.cpp -text
examples/example1a.cpp -text
examples/example1b.cpp -text
examples/example2.cpp -text
examples/example3.cpp -text
examples/example3b.cpp -text
examples/example4.cpp -text
examples/example4CP.cpp -text
examples/example5.cpp -text
examples/exampleLP.cpp -text
examples/qrecipe.cpp -text
examples/qrecipeSchur.cpp -text
examples/qrecipe_data.hpp -text
include/qpOASES.hpp -text
include/qpOASES/Bounds.hpp -text
include/qpOASES/Bounds.ipp -text
include/qpOASES/Constants.hpp -text
include/qpOASES/ConstraintProduct.hpp -text
include/qpOASES/Constraints.hpp -text
include/qpOASES/Constraints.ipp -text
include/qpOASES/Flipper.hpp -text
include/qpOASES/Indexlist.hpp -text
include/qpOASES/Indexlist.ipp -text
include/qpOASES/LapackBlasReplacement.hpp -text
include/qpOASES/Matrices.hpp -text
include/qpOASES/MessageHandling.hpp -text
include/qpOASES/MessageHandling.ipp -text
include/qpOASES/Options.hpp -text
include/qpOASES/QProblem.hpp -text
include/qpOASES/QProblem.ipp -text
include/qpOASES/QProblemB.hpp -text
include/qpOASES/QProblemB.ipp -text
include/qpOASES/SQProblem.hpp -text
include/qpOASES/SQProblem.ipp -text
include/qpOASES/SQProblemSchur.hpp -text
include/qpOASES/SQProblemSchur.ipp -text
include/qpOASES/SparseSolver.hpp -text
include/qpOASES/SubjectTo.hpp -text
include/qpOASES/SubjectTo.ipp -text
include/qpOASES/Types.hpp -text
include/qpOASES/UnitTesting.hpp -text
include/qpOASES/Utils.hpp -text
include/qpOASES/Utils.ipp -text
include/qpOASES/extras/OQPinterface.hpp -text
include/qpOASES/extras/SolutionAnalysis.hpp -text
include/qpOASES/extras/SolutionAnalysis.ipp -text
interfaces/CUTEst/Makefile -text
interfaces/CUTEst/makeprob -text
interfaces/CUTEst/qpoasesCutest.cpp -text
interfaces/CUTEst/readme.txt -text
interfaces/c/Makefile -text
interfaces/c/c_example1.c -text
interfaces/c/c_example1a.c -text
interfaces/c/c_example1b.c -text
interfaces/c/qpOASES_wrapper.cpp -text
interfaces/c/qpOASES_wrapper.h -text
interfaces/matlab/Makefile -text
interfaces/matlab/example1.mat -text
interfaces/matlab/example1a.mat -text
interfaces/matlab/example1b.mat -text
interfaces/matlab/make.m -text
interfaces/matlab/qpOASES.cpp -text
interfaces/matlab/qpOASES.m -text
interfaces/matlab/qpOASES_auxInput.m -text
interfaces/matlab/qpOASES_matlab_utils.cpp -text
interfaces/matlab/qpOASES_matlab_utils.hpp -text
interfaces/matlab/qpOASES_options.m -text
interfaces/matlab/qpOASES_sequence.cpp -text
interfaces/matlab/qpOASES_sequence.m -text
interfaces/matlab/testQPset.m -text
interfaces/matlab/testSchur.m -text
interfaces/octave/clean -text
interfaces/octave/clean.sh -text
interfaces/octave/example1.mat -text
interfaces/octave/example1a.mat -text
interfaces/octave/example1b.mat -text
interfaces/octave/make.m -text
interfaces/octave/qpOASES.cpp -text
interfaces/octave/qpOASES.m -text
interfaces/octave/qpOASES_auxInput.m -text
interfaces/octave/qpOASES_octave_utils.cpp -text
interfaces/octave/qpOASES_octave_utils.hpp -text
interfaces/octave/qpOASES_options.m -text
interfaces/octave/qpOASES_sequence.cpp -text
interfaces/octave/qpOASES_sequence.m -text
interfaces/python/README.rst -text
interfaces/python/examples/cython/example1.pyx -text
interfaces/python/examples/cython/setup.py -text
interfaces/python/examples/example1.py -text
interfaces/python/examples/example1b.py -text
interfaces/python/examples/example2.py -text
interfaces/python/qpoases.pxd -text
interfaces/python/qpoases.pyx -text
interfaces/python/setup.py -text
interfaces/python/tests/__init__.py -text
interfaces/python/tests/test_examples.py -text
interfaces/scilab/Makefile -text
interfaces/scilab/example1.dat -text
interfaces/scilab/example1a.dat -text
interfaces/scilab/example1b.dat -text
interfaces/scilab/qpOASESinterface.c -text
interfaces/scilab/qpOASESinterface.sce -text
interfaces/scilab/qpOASESroutines.cpp -text
interfaces/simulink/example_QProblem.mdl -text
interfaces/simulink/example_QProblemB.mdl -text
interfaces/simulink/example_SQProblem.mdl -text
interfaces/simulink/load_example_QProblem.m -text
interfaces/simulink/load_example_QProblemB.m -text
interfaces/simulink/load_example_SQProblem.m -text
interfaces/simulink/make.m -text
interfaces/simulink/qpOASES_QProblem.cpp -text
interfaces/simulink/qpOASES_QProblemB.cpp -text
interfaces/simulink/qpOASES_SQProblem.cpp -text
interfaces/simulink/qpOASES_simulink_utils.cpp -text
/make.mk -text
/make_cygwin.mk -text
/make_linux.mk -text
/make_osx.mk -text
/make_windows.mk -text
src/BLASReplacement.cpp -text
src/Bounds.cpp -text
src/Constraints.cpp -text
src/Flipper.cpp -text
src/Indexlist.cpp -text
src/LAPACKReplacement.cpp -text
src/Makefile -text
src/Matrices.cpp -text
src/MessageHandling.cpp -text
src/OQPinterface.cpp -text
src/Options.cpp -text
src/QProblem.cpp -text
src/QProblemB.cpp -text
src/SQProblem.cpp -text
src/SQProblemSchur.cpp -text
src/SolutionAnalysis.cpp -text
src/SparseSolver.cpp -text
src/SubjectTo.cpp -text
src/Utils.cpp -text
testing/c/Makefile -text
testing/c/test_c_example1.c -text
testing/c/test_c_example1a.c -text
testing/c/test_c_example1b.c -text
testing/checkForMemoryLeaks -text
testing/cpp/Makefile -text
testing/cpp/data/fetch_cpp_data -text
testing/cpp/test_bench.cpp -text
testing/cpp/test_constraintProduct1.cpp -text
testing/cpp/test_constraintProduct2.cpp -text
testing/cpp/test_example1.cpp -text
testing/cpp/test_example1a.cpp -text
testing/cpp/test_example1b.cpp -text
testing/cpp/test_example2.cpp -text
testing/cpp/test_example4.cpp -text
testing/cpp/test_example5.cpp -text
testing/cpp/test_example6.cpp -text
testing/cpp/test_example7.cpp -text
testing/cpp/test_exampleLP.cpp -text
testing/cpp/test_externalChol1.cpp -text
testing/cpp/test_gradientShift.cpp -text
testing/cpp/test_guessedWS1.cpp -text
testing/cpp/test_hs268.cpp -text
testing/cpp/test_identitySqproblem.cpp -text
testing/cpp/test_indexlist.cpp -text
testing/cpp/test_infeasible1.cpp -text
testing/cpp/test_janick1.cpp -text
testing/cpp/test_janick2.cpp -text
testing/cpp/test_matrices.cpp -text
testing/cpp/test_matrices2.cpp -text
testing/cpp/test_matrices3.cpp -text
testing/cpp/test_qrecipe.cpp -text
testing/cpp/test_qrecipeSchur.cpp -text
testing/cpp/test_qrecipe_data.hpp -text
testing/cpp/test_runAllOqpExamples.cpp -text
testing/cpp/test_sebastien1.cpp -text
testing/cpp/test_smallSchur.cpp -text
testing/cpp/test_vanBarelsUnboundedQP.cpp -text
testing/matlab/auxFiles/generateExample.m -text
testing/matlab/auxFiles/generateRandomQp.m -text
testing/matlab/auxFiles/getKktResidual.m -text
testing/matlab/auxFiles/isoctave.m -text
testing/matlab/auxFiles/setupQpDataStruct.m -text
testing/matlab/auxFiles/setupQpFeaturesStruct.m -text
testing/matlab/data/fetch_matlab_data -text
testing/matlab/runAllTests.m -text
testing/matlab/setupTestingPaths.m -text
testing/matlab/tests/runAlexInfeas1.m -text
testing/matlab/tests/runAlexInfeas2.m -text
testing/matlab/tests/runAlternativeX0Test.m -text
testing/matlab/tests/runBenchmarkCHAIN1.m -text
testing/matlab/tests/runBenchmarkCHAIN1A.m -text
testing/matlab/tests/runBenchmarkCRANE1.m -text
testing/matlab/tests/runBenchmarkCRANE2.m -text
testing/matlab/tests/runBenchmarkCRANE3.m -text
testing/matlab/tests/runBenchmarkDIESEL.m -text
testing/matlab/tests/runBenchmarkEQUALITY1.m -text
testing/matlab/tests/runBenchmarkEQUALITY2.m -text
testing/matlab/tests/runBenchmarkEXAMPLE1.m -text
testing/matlab/tests/runBenchmarkEXAMPLE1A.m -text
testing/matlab/tests/runBenchmarkEXAMPLE1B.m -text
testing/matlab/tests/runBenchmarkIDHESSIAN1.m -text
testing/matlab/tests/runEmptyHessianTests.m -text
testing/matlab/tests/runExternalCholeskyTests.m -text
testing/matlab/tests/runInterfaceSeqTest.m -text
testing/matlab/tests/runInterfaceTest.m -text
testing/matlab/tests/runQAP8.m -text
testing/matlab/tests/runQSHARE1B.m -text
testing/matlab/tests/runRandomIdHessian.m -text
testing/matlab/tests/runRandomZeroHessian.m -text
testing/matlab/tests/runSimpleSpringExample.m -text
testing/matlab/tests/runTestAPrioriKnownSeq1.m -text
testing/matlab/tests/runTestSeq.m -text
testing/matlab/tests/runTestSparse.m -text
testing/matlab/tests/runTestSparse2.m -text
testing/matlab/tests/runTestSparse3.m -text
testing/matlab/tests/runTestSparse4.m -text
testing/matlab/tests/runTestWorkingSetLI.m -text
testing/matlab/tests/runVanBarelsUnboundedQP.m -text
testing/runUnitTests -text
