* text=auto !eol
binaries/3.0.0/matlab/qpOASES.m -text
binaries/3.0.0/matlab/qpOASES.mexa64 -text
binaries/3.0.0/matlab/qpOASES.mexmaci64 -text
binaries/3.0.0/matlab/qpOASES.mexw32 -text
binaries/3.0.0/matlab/qpOASES.mexw64 -text
binaries/3.0.0/matlab/qpOASES_auxInput.m -text
binaries/3.0.0/matlab/qpOASES_options.m -text
binaries/3.0.0/matlab/qpOASES_sequence.m -text
binaries/3.0.0/matlab/qpOASES_sequence.mexa64 -text
binaries/3.0.0/matlab/qpOASES_sequence.mexmaci64 -text
binaries/3.0.0/matlab/qpOASES_sequence.mexw32 -text
binaries/3.0.0/matlab/qpOASES_sequence.mexw64 -text
binaries/3.0.1/matlab/qpOASES.m -text
binaries/3.0.1/matlab/qpOASES.mexa64 -text
binaries/3.0.1/matlab/qpOASES.mexmaci64 -text
binaries/3.0.1/matlab/qpOASES.mexw32 -text
binaries/3.0.1/matlab/qpOASES.mexw64 -text
binaries/3.0.1/matlab/qpOASES_auxInput.m -text
binaries/3.0.1/matlab/qpOASES_options.m -text
binaries/3.0.1/matlab/qpOASES_sequence.m -text
binaries/3.0.1/matlab/qpOASES_sequence.mexa64 -text
binaries/3.0.1/matlab/qpOASES_sequence.mexmaci64 -text
binaries/3.0.1/matlab/qpOASES_sequence.mexw32 -text
binaries/3.0.1/matlab/qpOASES_sequence.mexw64 -text
binaries/3.1.0/matlab/qpOASES.m -text
binaries/3.1.0/matlab/qpOASES.mexa64 -text
binaries/3.1.0/matlab/qpOASES.mexmaci64 -text
binaries/3.1.0/matlab/qpOASES.mexw32 -text
binaries/3.1.0/matlab/qpOASES.mexw64 -text
binaries/3.1.0/matlab/qpOASES_auxInput.m -text
binaries/3.1.0/matlab/qpOASES_options.m -text
binaries/3.1.0/matlab/qpOASES_sequence.m -text
binaries/3.1.0/matlab/qpOASES_sequence.mexa64 -text
binaries/3.1.0/matlab/qpOASES_sequence.mexmaci64 -text
binaries/3.1.0/matlab/qpOASES_sequence.mexw32 -text
binaries/3.1.0/matlab/qpOASES_sequence.mexw64 -text
binaries/3.2.0/qpOASES.m -text
binaries/3.2.0/qpOASES_auxInput.m -text
binaries/3.2.0/qpOASES_options.m -text
binaries/3.2.0/qpOASES_sequence.m -text
testingdata/cpp/oqp/chain80/H.oqp -text
testingdata/cpp/oqp/chain80/dims.oqp -text
testingdata/cpp/oqp/chain80/g.oqp -text
testingdata/cpp/oqp/chain80/info.txt -text
testingdata/cpp/oqp/chain80/lb.oqp -text
testingdata/cpp/oqp/chain80/loadBenchmark.m -text
testingdata/cpp/oqp/chain80/obj_opt.oqp -text
testingdata/cpp/oqp/chain80/ub.oqp -text
testingdata/cpp/oqp/chain80/x_opt.oqp -text
testingdata/cpp/oqp/chain80/y_opt.oqp -text
testingdata/cpp/oqp/chain80w/A.oqp -text
testingdata/cpp/oqp/chain80w/H.oqp -text
testingdata/cpp/oqp/chain80w/dims.oqp -text
testingdata/cpp/oqp/chain80w/g.oqp -text
testingdata/cpp/oqp/chain80w/info.txt -text
testingdata/cpp/oqp/chain80w/lb.oqp -text
testingdata/cpp/oqp/chain80w/lbA.oqp -text
testingdata/cpp/oqp/chain80w/loadBenchmark.m -text
testingdata/cpp/oqp/chain80w/obj_opt.oqp -text
testingdata/cpp/oqp/chain80w/ub.oqp -text
testingdata/cpp/oqp/chain80w/ubA.oqp -text
testingdata/cpp/oqp/chain80w/x_opt.oqp -text
testingdata/cpp/oqp/chain80w/y_opt.oqp -text
testingdata/cpp/oqp/crane/A.oqp -text
testingdata/cpp/oqp/crane/H.oqp -text
testingdata/cpp/oqp/crane/dims.oqp -text
testingdata/cpp/oqp/crane/g.oqp -text
testingdata/cpp/oqp/crane/info.txt -text
testingdata/cpp/oqp/crane/lb.oqp -text
testingdata/cpp/oqp/crane/lbA.oqp -text
testingdata/cpp/oqp/crane/loadBenchmark.m -text
testingdata/cpp/oqp/crane/obj_opt.oqp -text
testingdata/cpp/oqp/crane/ub.oqp -text
testingdata/cpp/oqp/crane/ubA.oqp -text
testingdata/cpp/oqp/crane/x_opt.oqp -text
testingdata/cpp/oqp/crane/y_opt.oqp -text
testingdata/cpp/oqp/diesel/A.oqp -text
testingdata/cpp/oqp/diesel/H.oqp -text
testingdata/cpp/oqp/diesel/dims.oqp -text
testingdata/cpp/oqp/diesel/g.oqp -text
testingdata/cpp/oqp/diesel/info.txt -text
testingdata/cpp/oqp/diesel/lb.oqp -text
testingdata/cpp/oqp/diesel/lbA.oqp -text
testingdata/cpp/oqp/diesel/loadBenchmark.m -text
testingdata/cpp/oqp/diesel/obj_opt.oqp -text
testingdata/cpp/oqp/diesel/ub.oqp -text
testingdata/cpp/oqp/diesel/ubA.oqp -text
testingdata/cpp/oqp/diesel/x_opt.oqp -text
testingdata/cpp/oqp/diesel/y_opt.oqp -text
testingdata/cpp/problems/CVXQP1_S/A.oqp -text
testingdata/cpp/problems/CVXQP1_S/H.oqp -text
testingdata/cpp/problems/CVXQP1_S/dims.oqp -text
testingdata/cpp/problems/CVXQP1_S/g.oqp -text
testingdata/cpp/problems/CVXQP1_S/lb.oqp -text
testingdata/cpp/problems/CVXQP1_S/lbA.oqp -text
testingdata/cpp/problems/CVXQP1_S/obj_opt.oqp -text
testingdata/cpp/problems/CVXQP1_S/ub.oqp -text
testingdata/cpp/problems/CVXQP1_S/ubA.oqp -text
testingdata/cpp/problems/CVXQP1_S/x_opt.oqp -text
testingdata/cpp/problems/CVXQP1_S/y_opt.oqp -text
testingdata/cpp/problems/CVXQP2_S/A.oqp -text
testingdata/cpp/problems/CVXQP2_S/H.oqp -text
testingdata/cpp/problems/CVXQP2_S/dims.oqp -text
testingdata/cpp/problems/CVXQP2_S/g.oqp -text
testingdata/cpp/problems/CVXQP2_S/lb.oqp -text
testingdata/cpp/problems/CVXQP2_S/lbA.oqp -text
testingdata/cpp/problems/CVXQP2_S/obj_opt.oqp -text
testingdata/cpp/problems/CVXQP2_S/ub.oqp -text
testingdata/cpp/problems/CVXQP2_S/ubA.oqp -text
testingdata/cpp/problems/CVXQP2_S/x_opt.oqp -text
testingdata/cpp/problems/CVXQP2_S/y_opt.oqp -text
testingdata/cpp/problems/CVXQP3_S/A.oqp -text
testingdata/cpp/problems/CVXQP3_S/H.oqp -text
testingdata/cpp/problems/CVXQP3_S/dims.oqp -text
testingdata/cpp/problems/CVXQP3_S/g.oqp -text
testingdata/cpp/problems/CVXQP3_S/lb.oqp -text
testingdata/cpp/problems/CVXQP3_S/lbA.oqp -text
testingdata/cpp/problems/CVXQP3_S/obj_opt.oqp -text
testingdata/cpp/problems/CVXQP3_S/ub.oqp -text
testingdata/cpp/problems/CVXQP3_S/ubA.oqp -text
testingdata/cpp/problems/CVXQP3_S/x_opt.oqp -text
testingdata/cpp/problems/CVXQP3_S/y_opt.oqp -text
testingdata/cpp/problems/DPKLO1/A.oqp -text
testingdata/cpp/problems/DPKLO1/H.oqp -text
testingdata/cpp/problems/DPKLO1/dims.oqp -text
testingdata/cpp/problems/DPKLO1/g.oqp -text
testingdata/cpp/problems/DPKLO1/lb.oqp -text
testingdata/cpp/problems/DPKLO1/lbA.oqp -text
testingdata/cpp/problems/DPKLO1/obj_opt.oqp -text
testingdata/cpp/problems/DPKLO1/ub.oqp -text
testingdata/cpp/problems/DPKLO1/ubA.oqp -text
testingdata/cpp/problems/DPKLO1/x_opt.oqp -text
testingdata/cpp/problems/DPKLO1/y_opt.oqp -text
testingdata/cpp/problems/DUAL1/A.oqp -text
testingdata/cpp/problems/DUAL1/H.oqp -text
testingdata/cpp/problems/DUAL1/dims.oqp -text
testingdata/cpp/problems/DUAL1/g.oqp -text
testingdata/cpp/problems/DUAL1/lb.oqp -text
testingdata/cpp/problems/DUAL1/lbA.oqp -text
testingdata/cpp/problems/DUAL1/obj_opt.oqp -text
testingdata/cpp/problems/DUAL1/ub.oqp -text
testingdata/cpp/problems/DUAL1/ubA.oqp -text
testingdata/cpp/problems/DUAL1/x_opt.oqp -text
testingdata/cpp/problems/DUAL1/y_opt.oqp -text
testingdata/cpp/problems/DUAL2/A.oqp -text
testingdata/cpp/problems/DUAL2/H.oqp -text
testingdata/cpp/problems/DUAL2/dims.oqp -text
testingdata/cpp/problems/DUAL2/g.oqp -text
testingdata/cpp/problems/DUAL2/lb.oqp -text
testingdata/cpp/problems/DUAL2/lbA.oqp -text
testingdata/cpp/problems/DUAL2/obj_opt.oqp -text
testingdata/cpp/problems/DUAL2/ub.oqp -text
testingdata/cpp/problems/DUAL2/ubA.oqp -text
testingdata/cpp/problems/DUAL2/x_opt.oqp -text
testingdata/cpp/problems/DUAL2/y_opt.oqp -text
testingdata/cpp/problems/DUAL3/A.oqp -text
testingdata/cpp/problems/DUAL3/H.oqp -text
testingdata/cpp/problems/DUAL3/dims.oqp -text
testingdata/cpp/problems/DUAL3/g.oqp -text
testingdata/cpp/problems/DUAL3/lb.oqp -text
testingdata/cpp/problems/DUAL3/lbA.oqp -text
testingdata/cpp/problems/DUAL3/obj_opt.oqp -text
testingdata/cpp/problems/DUAL3/ub.oqp -text
testingdata/cpp/problems/DUAL3/ubA.oqp -text
testingdata/cpp/problems/DUAL3/x_opt.oqp -text
testingdata/cpp/problems/DUAL3/y_opt.oqp -text
testingdata/cpp/problems/DUAL4/A.oqp -text
testingdata/cpp/problems/DUAL4/H.oqp -text
testingdata/cpp/problems/DUAL4/dims.oqp -text
testingdata/cpp/problems/DUAL4/g.oqp -text
testingdata/cpp/problems/DUAL4/lb.oqp -text
testingdata/cpp/problems/DUAL4/lbA.oqp -text
testingdata/cpp/problems/DUAL4/obj_opt.oqp -text
testingdata/cpp/problems/DUAL4/ub.oqp -text
testingdata/cpp/problems/DUAL4/ubA.oqp -text
testingdata/cpp/problems/DUAL4/x_opt.oqp -text
testingdata/cpp/problems/DUAL4/y_opt.oqp -text
testingdata/cpp/problems/DUALC1/A.oqp -text
testingdata/cpp/problems/DUALC1/H.oqp -text
testingdata/cpp/problems/DUALC1/dims.oqp -text
testingdata/cpp/problems/DUALC1/g.oqp -text
testingdata/cpp/problems/DUALC1/lb.oqp -text
testingdata/cpp/problems/DUALC1/lbA.oqp -text
testingdata/cpp/problems/DUALC1/obj_opt.oqp -text
testingdata/cpp/problems/DUALC1/ub.oqp -text
testingdata/cpp/problems/DUALC1/ubA.oqp -text
testingdata/cpp/problems/DUALC1/x_opt.oqp -text
testingdata/cpp/problems/DUALC1/y_opt.oqp -text
testingdata/cpp/problems/DUALC2/A.oqp -text
testingdata/cpp/problems/DUALC2/H.oqp -text
testingdata/cpp/problems/DUALC2/dims.oqp -text
testingdata/cpp/problems/DUALC2/g.oqp -text
testingdata/cpp/problems/DUALC2/lb.oqp -text
testingdata/cpp/problems/DUALC2/lbA.oqp -text
testingdata/cpp/problems/DUALC2/obj_opt.oqp -text
testingdata/cpp/problems/DUALC2/ub.oqp -text
testingdata/cpp/problems/DUALC2/ubA.oqp -text
testingdata/cpp/problems/DUALC2/x_opt.oqp -text
testingdata/cpp/problems/DUALC2/y_opt.oqp -text
testingdata/cpp/problems/DUALC5/A.oqp -text
testingdata/cpp/problems/DUALC5/H.oqp -text
testingdata/cpp/problems/DUALC5/dims.oqp -text
testingdata/cpp/problems/DUALC5/g.oqp -text
testingdata/cpp/problems/DUALC5/lb.oqp -text
testingdata/cpp/problems/DUALC5/lbA.oqp -text
testingdata/cpp/problems/DUALC5/obj_opt.oqp -text
testingdata/cpp/problems/DUALC5/ub.oqp -text
testingdata/cpp/problems/DUALC5/ubA.oqp -text
testingdata/cpp/problems/DUALC5/x_opt.oqp -text
testingdata/cpp/problems/DUALC5/y_opt.oqp -text
testingdata/cpp/problems/DUALC8/A.oqp -text
testingdata/cpp/problems/DUALC8/H.oqp -text
testingdata/cpp/problems/DUALC8/dims.oqp -text
testingdata/cpp/problems/DUALC8/g.oqp -text
testingdata/cpp/problems/DUALC8/lb.oqp -text
testingdata/cpp/problems/DUALC8/lbA.oqp -text
testingdata/cpp/problems/DUALC8/obj_opt.oqp -text
testingdata/cpp/problems/DUALC8/ub.oqp -text
testingdata/cpp/problems/DUALC8/ubA.oqp -text
testingdata/cpp/problems/DUALC8/x_opt.oqp -text
testingdata/cpp/problems/DUALC8/y_opt.oqp -text
testingdata/cpp/problems/GENHS28/A.oqp -text
testingdata/cpp/problems/GENHS28/H.oqp -text
testingdata/cpp/problems/GENHS28/dims.oqp -text
testingdata/cpp/problems/GENHS28/g.oqp -text
testingdata/cpp/problems/GENHS28/lb.oqp -text
testingdata/cpp/problems/GENHS28/lbA.oqp -text
testingdata/cpp/problems/GENHS28/obj_opt.oqp -text
testingdata/cpp/problems/GENHS28/ub.oqp -text
testingdata/cpp/problems/GENHS28/ubA.oqp -text
testingdata/cpp/problems/GENHS28/x_opt.oqp -text
testingdata/cpp/problems/GENHS28/y_opt.oqp -text
testingdata/cpp/problems/HS118/A.oqp -text
testingdata/cpp/problems/HS118/H.oqp -text
testingdata/cpp/problems/HS118/dims.oqp -text
testingdata/cpp/problems/HS118/g.oqp -text
testingdata/cpp/problems/HS118/lb.oqp -text
testingdata/cpp/problems/HS118/lbA.oqp -text
testingdata/cpp/problems/HS118/obj_opt.oqp -text
testingdata/cpp/problems/HS118/ub.oqp -text
testingdata/cpp/problems/HS118/ubA.oqp -text
testingdata/cpp/problems/HS118/x_opt.oqp -text
testingdata/cpp/problems/HS118/y_opt.oqp -text
testingdata/cpp/problems/HS21/A.oqp -text
testingdata/cpp/problems/HS21/H.oqp -text
testingdata/cpp/problems/HS21/dims.oqp -text
testingdata/cpp/problems/HS21/g.oqp -text
testingdata/cpp/problems/HS21/lb.oqp -text
testingdata/cpp/problems/HS21/lbA.oqp -text
testingdata/cpp/problems/HS21/obj_opt.oqp -text
testingdata/cpp/problems/HS21/ub.oqp -text
testingdata/cpp/problems/HS21/ubA.oqp -text
testingdata/cpp/problems/HS21/x_opt.oqp -text
testingdata/cpp/problems/HS21/y_opt.oqp -text
testingdata/cpp/problems/HS268/A.oqp -text
testingdata/cpp/problems/HS268/H.oqp -text
testingdata/cpp/problems/HS268/dims.oqp -text
testingdata/cpp/problems/HS268/g.oqp -text
testingdata/cpp/problems/HS268/lb.oqp -text
testingdata/cpp/problems/HS268/lbA.oqp -text
testingdata/cpp/problems/HS268/obj_opt.oqp -text
testingdata/cpp/problems/HS268/ub.oqp -text
testingdata/cpp/problems/HS268/ubA.oqp -text
testingdata/cpp/problems/HS268/x_opt.oqp -text
testingdata/cpp/problems/HS268/y_opt.oqp -text
testingdata/cpp/problems/HS35/A.oqp -text
testingdata/cpp/problems/HS35/H.oqp -text
testingdata/cpp/problems/HS35/dims.oqp -text
testingdata/cpp/problems/HS35/g.oqp -text
testingdata/cpp/problems/HS35/lb.oqp -text
testingdata/cpp/problems/HS35/lbA.oqp -text
testingdata/cpp/problems/HS35/obj_opt.oqp -text
testingdata/cpp/problems/HS35/ub.oqp -text
testingdata/cpp/problems/HS35/ubA.oqp -text
testingdata/cpp/problems/HS35/x_opt.oqp -text
testingdata/cpp/problems/HS35/y_opt.oqp -text
testingdata/cpp/problems/HS35MOD/A.oqp -text
testingdata/cpp/problems/HS35MOD/H.oqp -text
testingdata/cpp/problems/HS35MOD/dims.oqp -text
testingdata/cpp/problems/HS35MOD/g.oqp -text
testingdata/cpp/problems/HS35MOD/lb.oqp -text
testingdata/cpp/problems/HS35MOD/lbA.oqp -text
testingdata/cpp/problems/HS35MOD/obj_opt.oqp -text
testingdata/cpp/problems/HS35MOD/ub.oqp -text
testingdata/cpp/problems/HS35MOD/ubA.oqp -text
testingdata/cpp/problems/HS35MOD/x_opt.oqp -text
testingdata/cpp/problems/HS35MOD/y_opt.oqp -text
testingdata/cpp/problems/HS51/A.oqp -text
testingdata/cpp/problems/HS51/H.oqp -text
testingdata/cpp/problems/HS51/dims.oqp -text
testingdata/cpp/problems/HS51/g.oqp -text
testingdata/cpp/problems/HS51/lb.oqp -text
testingdata/cpp/problems/HS51/lbA.oqp -text
testingdata/cpp/problems/HS51/obj_opt.oqp -text
testingdata/cpp/problems/HS51/ub.oqp -text
testingdata/cpp/problems/HS51/ubA.oqp -text
testingdata/cpp/problems/HS51/x_opt.oqp -text
testingdata/cpp/problems/HS51/y_opt.oqp -text
testingdata/cpp/problems/HS52/A.oqp -text
testingdata/cpp/problems/HS52/H.oqp -text
testingdata/cpp/problems/HS52/dims.oqp -text
testingdata/cpp/problems/HS52/g.oqp -text
testingdata/cpp/problems/HS52/lb.oqp -text
testingdata/cpp/problems/HS52/lbA.oqp -text
testingdata/cpp/problems/HS52/obj_opt.oqp -text
testingdata/cpp/problems/HS52/ub.oqp -text
testingdata/cpp/problems/HS52/ubA.oqp -text
testingdata/cpp/problems/HS52/x_opt.oqp -text
testingdata/cpp/problems/HS52/y_opt.oqp -text
testingdata/cpp/problems/HS53/A.oqp -text
testingdata/cpp/problems/HS53/H.oqp -text
testingdata/cpp/problems/HS53/dims.oqp -text
testingdata/cpp/problems/HS53/g.oqp -text
testingdata/cpp/problems/HS53/lb.oqp -text
testingdata/cpp/problems/HS53/lbA.oqp -text
testingdata/cpp/problems/HS53/obj_opt.oqp -text
testingdata/cpp/problems/HS53/ub.oqp -text
testingdata/cpp/problems/HS53/ubA.oqp -text
testingdata/cpp/problems/HS53/x_opt.oqp -text
testingdata/cpp/problems/HS53/y_opt.oqp -text
testingdata/cpp/problems/HS76/A.oqp -text
testingdata/cpp/problems/HS76/H.oqp -text
testingdata/cpp/problems/HS76/dims.oqp -text
testingdata/cpp/problems/HS76/g.oqp -text
testingdata/cpp/problems/HS76/lb.oqp -text
testingdata/cpp/problems/HS76/lbA.oqp -text
testingdata/cpp/problems/HS76/obj_opt.oqp -text
testingdata/cpp/problems/HS76/ub.oqp -text
testingdata/cpp/problems/HS76/ubA.oqp -text
testingdata/cpp/problems/HS76/x_opt.oqp -text
testingdata/cpp/problems/HS76/y_opt.oqp -text
testingdata/cpp/problems/LOTSCHD/A.oqp -text
testingdata/cpp/problems/LOTSCHD/H.oqp -text
testingdata/cpp/problems/LOTSCHD/dims.oqp -text
testingdata/cpp/problems/LOTSCHD/g.oqp -text
testingdata/cpp/problems/LOTSCHD/lb.oqp -text
testingdata/cpp/problems/LOTSCHD/lbA.oqp -text
testingdata/cpp/problems/LOTSCHD/obj_opt.oqp -text
testingdata/cpp/problems/LOTSCHD/ub.oqp -text
testingdata/cpp/problems/LOTSCHD/ubA.oqp -text
testingdata/cpp/problems/LOTSCHD/x_opt.oqp -text
testingdata/cpp/problems/LOTSCHD/y_opt.oqp -text
testingdata/cpp/problems/PRIMALC1/A.oqp -text
testingdata/cpp/problems/PRIMALC1/H.oqp -text
testingdata/cpp/problems/PRIMALC1/dims.oqp -text
testingdata/cpp/problems/PRIMALC1/g.oqp -text
testingdata/cpp/problems/PRIMALC1/lb.oqp -text
testingdata/cpp/problems/PRIMALC1/lbA.oqp -text
testingdata/cpp/problems/PRIMALC1/obj_opt.oqp -text
testingdata/cpp/problems/PRIMALC1/ub.oqp -text
testingdata/cpp/problems/PRIMALC1/ubA.oqp -text
testingdata/cpp/problems/PRIMALC1/x_opt.oqp -text
testingdata/cpp/problems/PRIMALC1/y_opt.oqp -text
testingdata/cpp/problems/PRIMALC2/A.oqp -text
testingdata/cpp/problems/PRIMALC2/H.oqp -text
testingdata/cpp/problems/PRIMALC2/dims.oqp -text
testingdata/cpp/problems/PRIMALC2/g.oqp -text
testingdata/cpp/problems/PRIMALC2/lb.oqp -text
testingdata/cpp/problems/PRIMALC2/lbA.oqp -text
testingdata/cpp/problems/PRIMALC2/obj_opt.oqp -text
testingdata/cpp/problems/PRIMALC2/ub.oqp -text
testingdata/cpp/problems/PRIMALC2/ubA.oqp -text
testingdata/cpp/problems/PRIMALC2/x_opt.oqp -text
testingdata/cpp/problems/PRIMALC2/y_opt.oqp -text
testingdata/cpp/problems/PRIMALC5/A.oqp -text
testingdata/cpp/problems/PRIMALC5/H.oqp -text
testingdata/cpp/problems/PRIMALC5/dims.oqp -text
testingdata/cpp/problems/PRIMALC5/g.oqp -text
testingdata/cpp/problems/PRIMALC5/lb.oqp -text
testingdata/cpp/problems/PRIMALC5/lbA.oqp -text
testingdata/cpp/problems/PRIMALC5/obj_opt.oqp -text
testingdata/cpp/problems/PRIMALC5/ub.oqp -text
testingdata/cpp/problems/PRIMALC5/ubA.oqp -text
testingdata/cpp/problems/PRIMALC5/x_opt.oqp -text
testingdata/cpp/problems/PRIMALC5/y_opt.oqp -text
testingdata/cpp/problems/QADLITTL/A.oqp -text
testingdata/cpp/problems/QADLITTL/H.oqp -text
testingdata/cpp/problems/QADLITTL/dims.oqp -text
testingdata/cpp/problems/QADLITTL/g.oqp -text
testingdata/cpp/problems/QADLITTL/lb.oqp -text
testingdata/cpp/problems/QADLITTL/lbA.oqp -text
testingdata/cpp/problems/QADLITTL/obj_opt.oqp -text
testingdata/cpp/problems/QADLITTL/ub.oqp -text
testingdata/cpp/problems/QADLITTL/ubA.oqp -text
testingdata/cpp/problems/QADLITTL/x_opt.oqp -text
testingdata/cpp/problems/QADLITTL/y_opt.oqp -text
testingdata/cpp/problems/QAFIRO/A.oqp -text
testingdata/cpp/problems/QAFIRO/H.oqp -text
testingdata/cpp/problems/QAFIRO/dims.oqp -text
testingdata/cpp/problems/QAFIRO/g.oqp -text
testingdata/cpp/problems/QAFIRO/lb.oqp -text
testingdata/cpp/problems/QAFIRO/lbA.oqp -text
testingdata/cpp/problems/QAFIRO/obj_opt.oqp -text
testingdata/cpp/problems/QAFIRO/ub.oqp -text
testingdata/cpp/problems/QAFIRO/ubA.oqp -text
testingdata/cpp/problems/QAFIRO/x_opt.oqp -text
testingdata/cpp/problems/QAFIRO/y_opt.oqp -text
testingdata/cpp/problems/QBEACONF/A.oqp -text
testingdata/cpp/problems/QBEACONF/H.oqp -text
testingdata/cpp/problems/QBEACONF/dims.oqp -text
testingdata/cpp/problems/QBEACONF/g.oqp -text
testingdata/cpp/problems/QBEACONF/lb.oqp -text
testingdata/cpp/problems/QBEACONF/lbA.oqp -text
testingdata/cpp/problems/QBEACONF/obj_opt.oqp -text
testingdata/cpp/problems/QBEACONF/ub.oqp -text
testingdata/cpp/problems/QBEACONF/ubA.oqp -text
testingdata/cpp/problems/QBEACONF/x_opt.oqp -text
testingdata/cpp/problems/QBEACONF/y_opt.oqp -text
testingdata/cpp/problems/QBRANDY/A.oqp -text
testingdata/cpp/problems/QBRANDY/H.oqp -text
testingdata/cpp/problems/QBRANDY/dims.oqp -text
testingdata/cpp/problems/QBRANDY/g.oqp -text
testingdata/cpp/problems/QBRANDY/lb.oqp -text
testingdata/cpp/problems/QBRANDY/lbA.oqp -text
testingdata/cpp/problems/QBRANDY/obj_opt.oqp -text
testingdata/cpp/problems/QBRANDY/ub.oqp -text
testingdata/cpp/problems/QBRANDY/ubA.oqp -text
testingdata/cpp/problems/QBRANDY/x_opt.oqp -text
testingdata/cpp/problems/QBRANDY/y_opt.oqp -text
testingdata/cpp/problems/QE226/A.oqp -text
testingdata/cpp/problems/QE226/H.oqp -text
testingdata/cpp/problems/QE226/dims.oqp -text
testingdata/cpp/problems/QE226/g.oqp -text
testingdata/cpp/problems/QE226/lb.oqp -text
testingdata/cpp/problems/QE226/lbA.oqp -text
testingdata/cpp/problems/QE226/obj_opt.oqp -text
testingdata/cpp/problems/QE226/ub.oqp -text
testingdata/cpp/problems/QE226/ubA.oqp -text
testingdata/cpp/problems/QE226/x_opt.oqp -text
testingdata/cpp/problems/QE226/y_opt.oqp -text
testingdata/cpp/problems/QISRAEL/A.oqp -text
testingdata/cpp/problems/QISRAEL/H.oqp -text
testingdata/cpp/problems/QISRAEL/dims.oqp -text
testingdata/cpp/problems/QISRAEL/g.oqp -text
testingdata/cpp/problems/QISRAEL/lb.oqp -text
testingdata/cpp/problems/QISRAEL/lbA.oqp -text
testingdata/cpp/problems/QISRAEL/obj_opt.oqp -text
testingdata/cpp/problems/QISRAEL/ub.oqp -text
testingdata/cpp/problems/QISRAEL/ubA.oqp -text
testingdata/cpp/problems/QISRAEL/x_opt.oqp -text
testingdata/cpp/problems/QISRAEL/y_opt.oqp -text
testingdata/cpp/problems/QPCBLEND/A.oqp -text
testingdata/cpp/problems/QPCBLEND/H.oqp -text
testingdata/cpp/problems/QPCBLEND/dims.oqp -text
testingdata/cpp/problems/QPCBLEND/g.oqp -text
testingdata/cpp/problems/QPCBLEND/lb.oqp -text
testingdata/cpp/problems/QPCBLEND/lbA.oqp -text
testingdata/cpp/problems/QPCBLEND/obj_opt.oqp -text
testingdata/cpp/problems/QPCBLEND/ub.oqp -text
testingdata/cpp/problems/QPCBLEND/ubA.oqp -text
testingdata/cpp/problems/QPCBLEND/x_opt.oqp -text
testingdata/cpp/problems/QPCBLEND/y_opt.oqp -text
testingdata/cpp/problems/QPCBOEI2/A.oqp -text
testingdata/cpp/problems/QPCBOEI2/H.oqp -text
testingdata/cpp/problems/QPCBOEI2/dims.oqp -text
testingdata/cpp/problems/QPCBOEI2/g.oqp -text
testingdata/cpp/problems/QPCBOEI2/lb.oqp -text
testingdata/cpp/problems/QPCBOEI2/lbA.oqp -text
testingdata/cpp/problems/QPCBOEI2/obj_opt.oqp -text
testingdata/cpp/problems/QPCBOEI2/ub.oqp -text
testingdata/cpp/problems/QPCBOEI2/ubA.oqp -text
testingdata/cpp/problems/QPCBOEI2/x_opt.oqp -text
testingdata/cpp/problems/QPCBOEI2/y_opt.oqp -text
testingdata/cpp/problems/QPTEST/A.oqp -text
testingdata/cpp/problems/QPTEST/H.oqp -text
testingdata/cpp/problems/QPTEST/dims.oqp -text
testingdata/cpp/problems/QPTEST/g.oqp -text
testingdata/cpp/problems/QPTEST/lb.oqp -text
testingdata/cpp/problems/QPTEST/lbA.oqp -text
testingdata/cpp/problems/QPTEST/obj_opt.oqp -text
testingdata/cpp/problems/QPTEST/ub.oqp -text
testingdata/cpp/problems/QPTEST/ubA.oqp -text
testingdata/cpp/problems/QPTEST/x_opt.oqp -text
testingdata/cpp/problems/QPTEST/y_opt.oqp -text
testingdata/cpp/problems/QRECIPE/A.oqp -text
testingdata/cpp/problems/QRECIPE/H.oqp -text
testingdata/cpp/problems/QRECIPE/dims.oqp -text
testingdata/cpp/problems/QRECIPE/g.oqp -text
testingdata/cpp/problems/QRECIPE/lb.oqp -text
testingdata/cpp/problems/QRECIPE/lbA.oqp -text
testingdata/cpp/problems/QRECIPE/obj_opt.oqp -text
testingdata/cpp/problems/QRECIPE/ub.oqp -text
testingdata/cpp/problems/QRECIPE/ubA.oqp -text
testingdata/cpp/problems/QRECIPE/x_opt.oqp -text
testingdata/cpp/problems/QRECIPE/y_opt.oqp -text
testingdata/cpp/problems/QSC205/A.oqp -text
testingdata/cpp/problems/QSC205/H.oqp -text
testingdata/cpp/problems/QSC205/dims.oqp -text
testingdata/cpp/problems/QSC205/g.oqp -text
testingdata/cpp/problems/QSC205/lb.oqp -text
testingdata/cpp/problems/QSC205/lbA.oqp -text
testingdata/cpp/problems/QSC205/obj_opt.oqp -text
testingdata/cpp/problems/QSC205/ub.oqp -text
testingdata/cpp/problems/QSC205/ubA.oqp -text
testingdata/cpp/problems/QSC205/x_opt.oqp -text
testingdata/cpp/problems/QSC205/y_opt.oqp -text
testingdata/cpp/problems/QSCAGR7/A.oqp -text
testingdata/cpp/problems/QSCAGR7/H.oqp -text
testingdata/cpp/problems/QSCAGR7/dims.oqp -text
testingdata/cpp/problems/QSCAGR7/g.oqp -text
testingdata/cpp/problems/QSCAGR7/lb.oqp -text
testingdata/cpp/problems/QSCAGR7/lbA.oqp -text
testingdata/cpp/problems/QSCAGR7/obj_opt.oqp -text
testingdata/cpp/problems/QSCAGR7/ub.oqp -text
testingdata/cpp/problems/QSCAGR7/ubA.oqp -text
testingdata/cpp/problems/QSCAGR7/x_opt.oqp -text
testingdata/cpp/problems/QSCAGR7/y_opt.oqp -text
testingdata/cpp/problems/QSHARE1B/A.oqp -text
testingdata/cpp/problems/QSHARE1B/H.oqp -text
testingdata/cpp/problems/QSHARE1B/dims.oqp -text
testingdata/cpp/problems/QSHARE1B/g.oqp -text
testingdata/cpp/problems/QSHARE1B/lb.oqp -text
testingdata/cpp/problems/QSHARE1B/lbA.oqp -text
testingdata/cpp/problems/QSHARE1B/obj_opt.oqp -text
testingdata/cpp/problems/QSHARE1B/ub.oqp -text
testingdata/cpp/problems/QSHARE1B/ubA.oqp -text
testingdata/cpp/problems/QSHARE1B/x_opt.oqp -text
testingdata/cpp/problems/QSHARE1B/y_opt.oqp -text
testingdata/cpp/problems/QSHARE2B/A.oqp -text
testingdata/cpp/problems/QSHARE2B/H.oqp -text
testingdata/cpp/problems/QSHARE2B/dims.oqp -text
testingdata/cpp/problems/QSHARE2B/g.oqp -text
testingdata/cpp/problems/QSHARE2B/lb.oqp -text
testingdata/cpp/problems/QSHARE2B/lbA.oqp -text
testingdata/cpp/problems/QSHARE2B/obj_opt.oqp -text
testingdata/cpp/problems/QSHARE2B/ub.oqp -text
testingdata/cpp/problems/QSHARE2B/ubA.oqp -text
testingdata/cpp/problems/QSHARE2B/x_opt.oqp -text
testingdata/cpp/problems/QSHARE2B/y_opt.oqp -text
testingdata/cpp/problems/S268/A.oqp -text
testingdata/cpp/problems/S268/H.oqp -text
testingdata/cpp/problems/S268/dims.oqp -text
testingdata/cpp/problems/S268/g.oqp -text
testingdata/cpp/problems/S268/lb.oqp -text
testingdata/cpp/problems/S268/lbA.oqp -text
testingdata/cpp/problems/S268/obj_opt.oqp -text
testingdata/cpp/problems/S268/ub.oqp -text
testingdata/cpp/problems/S268/ubA.oqp -text
testingdata/cpp/problems/S268/x_opt.oqp -text
testingdata/cpp/problems/S268/y_opt.oqp -text
testingdata/cpp/problems/TAME/A.oqp -text
testingdata/cpp/problems/TAME/H.oqp -text
testingdata/cpp/problems/TAME/dims.oqp -text
testingdata/cpp/problems/TAME/g.oqp -text
testingdata/cpp/problems/TAME/lb.oqp -text
testingdata/cpp/problems/TAME/lbA.oqp -text
testingdata/cpp/problems/TAME/obj_opt.oqp -text
testingdata/cpp/problems/TAME/ub.oqp -text
testingdata/cpp/problems/TAME/ubA.oqp -text
testingdata/cpp/problems/TAME/x_opt.oqp -text
testingdata/cpp/problems/TAME/y_opt.oqp -text
testingdata/cpp/problems/VALUES/A.oqp -text
testingdata/cpp/problems/VALUES/H.oqp -text
testingdata/cpp/problems/VALUES/dims.oqp -text
testingdata/cpp/problems/VALUES/g.oqp -text
testingdata/cpp/problems/VALUES/lb.oqp -text
testingdata/cpp/problems/VALUES/lbA.oqp -text
testingdata/cpp/problems/VALUES/obj_opt.oqp -text
testingdata/cpp/problems/VALUES/ub.oqp -text
testingdata/cpp/problems/VALUES/ubA.oqp -text
testingdata/cpp/problems/VALUES/x_opt.oqp -text
testingdata/cpp/problems/VALUES/y_opt.oqp -text
testingdata/cpp/problems/ZECEVIC2/A.oqp -text
testingdata/cpp/problems/ZECEVIC2/H.oqp -text
testingdata/cpp/problems/ZECEVIC2/dims.oqp -text
testingdata/cpp/problems/ZECEVIC2/g.oqp -text
testingdata/cpp/problems/ZECEVIC2/lb.oqp -text
testingdata/cpp/problems/ZECEVIC2/lbA.oqp -text
testingdata/cpp/problems/ZECEVIC2/obj_opt.oqp -text
testingdata/cpp/problems/ZECEVIC2/ub.oqp -text
testingdata/cpp/problems/ZECEVIC2/ubA.oqp -text
testingdata/cpp/problems/ZECEVIC2/x_opt.oqp -text
testingdata/cpp/problems/ZECEVIC2/y_opt.oqp -text
testingdata/matlab/QAP8.mat -text
testingdata/matlab/QSHARE1B.mat -text
testingdata/matlab/alexInfeas1.mat -text
testingdata/matlab/alexInfeas2.mat -text
testingdata/matlab/benchmarkCHAIN1.mat -text
testingdata/matlab/benchmarkCHAIN1A.mat -text
testingdata/matlab/benchmarkCHAIN1norm.mat -text
testingdata/matlab/benchmarkCRANE1.mat -text
testingdata/matlab/benchmarkCRANE2.mat -text
testingdata/matlab/benchmarkCRANE3.mat -text
testingdata/matlab/benchmarkDIESEL.mat -text
testingdata/matlab/benchmarkDIESELnorm.mat -text
testingdata/matlab/benchmarkEQUALITY1.mat -text
testingdata/matlab/benchmarkEQUALITY2.mat -text
testingdata/matlab/benchmarkEXAMPLE1.mat -text
testingdata/matlab/benchmarkEXAMPLE1A.mat -text
testingdata/matlab/benchmarkEXAMPLE1B.mat -text
testingdata/matlab/benchmarkIDHESSIAN1.mat -text
testingdata/matlab/vanBarelsUnboundedQP.mat -text
